# nodejs
node_modules

# wordpress
/wordpress/wp-content/uploads
!/wordpress/wp-content/uploads/.gitkeep

# system
.DS_Store

#plugin external
advanced-custom-fields-pro
imagify
imsanity
payfit-blocks
wp-seopress
wp-seopress-pro