
volumes:
  database:

services:
  database:
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: wordpress
      MARIADB_USER: wordpress
      MARIADB_PASSWORD: wordpress
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 1m
      start_interval: 10s
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      timeout: 5s
    hostname: mariadb
    image: docker.io/mariadb:11.4.2
    restart: unless-stopped
    volumes:
      - database:/var/lib/mysql

  phpmyadmin:
    depends_on:
      database:
        condition: service_healthy
    environment:
      PMA_HOST: database
      PMA_USER: root
      PMA_PASSWORD: root
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 1m
      test: curl --fail http://localhost/ || exit 1
      timeout: 30s
    image: docker.io/phpmyadmin:5.2.1
    restart: unless-stopped

  wordpress:
    build:
      context: ./wordpress
      dockerfile: Containerfile
    depends_on:
      database:
        condition: service_healthy
    environment:
      WORDPRESS_DEBUG: 1
      WORDPRESS_DB_HOST: database
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_HOME: https://hackdays-wp.example.com
      WORDPRESS_SITEURL: https://hackdays-wp.example.com
      WORDPRESS_NEXTJS_URL: https://hackdays.example.com/
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 1m
      test: curl --fail http://localhost/ || exit 1
      timeout: 30s
    hostname: wordpress
    restart: unless-stopped
    volumes:
      - ./wordpress:/var/www/html

  next:
    build:
      args:
        WORDPRESS_CONTENT_PATH: /wp-content/uploads/**
        WORDPRESS_HOSTNAME: hackdays-wp.example.com
        WORDPRESS_PORT: ""
        WORDPRESS_PROTOCOL: https
      context: .
      dockerfile: next/Containerfile
    depends_on:
      wordpress:
        condition: service_healthy
    environment:
      NEXT_PUBLIC_WORDPRESS_API_URL: https://hackdays-wp.example.com/wp-json/wp/v2
      NEXT_PUBLIC_WORDPRESS_CUSTOM_API_URL: https://hackdays-wp.example.com/wp-json/custom/v1
      NEXT_PUBLIC_DOMAIN: https://hackdays.example.com/
      NEXT_REVALIDATE_SECRET: AZERTY
      NEXT_PUBLIC_WORDPRESS_AUTHORIZATION:
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 1m
      test: curl --fail http://localhost:3000/ || exit 1
      timeout: 30s
    hostname: next
    restart: unless-stopped

  nginx:
    build:
      context: ./nginx
      dockerfile: Containerfile
    depends_on:
      next:
        condition: service_healthy
      phpmyadmin:
        condition: service_healthy
      wordpress:
        condition: service_healthy
    hostname: nginx
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 1m
      test: curl --fail http://localhost/ || exit 1
      timeout: 30s
    ports:
      - 80:80/tcp
      - 443:443/tcp
    restart: unless-stopped

