volumes:
  database:

services:
  database:
    environment:
      MARIADB_ROOT_PASSWORD:
      MARIADB_DATABASE: wordpress
      MARIADB_USER:
      MARIADB_PASSWORD:
    healthcheck:
      interval: 1m
      retries: 3
      start_period: 1m
      start_interval: 10s
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      timeout: 5s
    hostname: mariadb
    image: docker.io/mariadb:11.4.2
    restart: unless-stopped
    volumes:
      - database:/var/lib/mysql

  phpmyadmin:
    depends_on:
      database:
        condition: service_healthy
    environment:
      PMA_HOST: database
      PMA_USER:
      PMA_PASSWORD:
    image: docker.io/phpmyadmin:5.2.1
    restart: unless-stopped

  wordpress:
    build:
      context: ./wordpress
      dockerfile: Containerfile
    depends_on:
      database:
        condition: service_healthy
    environment:
      WORDPRESS_DEBUG: 1
      WORDPRESS_DB_HOST: database
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER:
      WORDPRESS_DB_PASSWORD:
      WORDPRESS_HOME:
      WORDPRESS_SITEURL:
    hostname: wordpress
    restart: unless-stopped
    volumes:
      - ./wordpress:/var/www/html

  next:
    build:
      context: .
      dockerfile: next/Containerfile
    depends_on:
      - wordpress
    environment:
      NEXT_PUBLIC_WORDPRESS_API_URL: http://wordpress/wp-json/wp/v2
      NEXT_PUBLIC_WORDPRESS_CUSTOM_API_URL: http://wordpress/wp-json/custom/v1
      NEXT_PUBLIC_DOMAIN:
      NEXT_REVALIDATE_SECRET:
      NEXT_PUBLIC_WORDPRESS_AUTHORIZATION:
    hostname: next
    restart: unless-stopped

  nginx:
    build:
      context: ./nginx
      dockerfile: Containerfile
    depends_on:
      - next
      - phpmyadmin
      - wordpress
    hostname: nginx
    ports:
      - 80:80/tcp
      - 443:443/tcp
    restart: unless-stopped
